@font-face {
    font-family: 'Monofonto';
    src: url('/assets/fonts/monofont-webfont.eot');
    src: url('/assets/fonts/monofont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/monofont-webfont.woff') format('woff'),
         url('/assets/fonts/monofont-webfont.ttf') format('truetype'),
         url('/assets/fonts/monofont-webfont.svg#monofontoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-size: 12px;
    text-align: center;
    margin: auto;
    font-family: 'Monofonto';
    color: white;
    background: #222;
}

#content{
    position: relative;
    width: 800px;
	top: 400px;
    text-align: center;
    margin: auto;
}

#top{
    text-align: left;
    border-bottom: 1px white solid;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#vid-count{
    font-size: 100px;
    font-family: 'Monofonto';
}

.art-count{
    font-size: 40px;
    font-family: 'Monofonto';
}

#footer{
    border-top: 1px white solid;
    color: #333;
    padding-top: 10px;
    text-align: left;
    font-size: 11px;
}

.vt-counterfooter {
display: block;
margin-left: auto;
margin-right: auto;
width: 200px;
}